  <command xsi:type="UserModifyRequest17sp4" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <userId>CHANGEmeID</userId>
    <phoneNumber>CHANGEmePHONE</phoneNumber>
    <extension>CHANGEmeEXT</extension>
    <callingLineIdPhoneNumber>CHANGEmeID</callingLineIdPhoneNumber>
    <sipAliasList xsi:nil="true"/>
    <endpoint>
      <accessDeviceEndpoint>
        <accessDevice>
          <deviceLevel>CHANGEmeDEVL</deviceLevel>
          <deviceName>CHANGEmeDEVP</deviceName>
        </accessDevice>
        <linePort>CHANGEmePORT@CHANGEmeDMN</linePort>
        <contactList xsi:nil="true"/>
      </accessDeviceEndpoint>
    </endpoint>
  </command>
