  <command xsi:type="UserAddRequest17sp4" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <serviceProviderId>CHANGEmeENT</serviceProviderId>
    <groupId>CHANGEmeGR</groupId>
    <userId>CHANGEmeID@CHANGEmeDMN</userId>
    <lastName>CHANGEmeLAST</lastName>
    <firstName>CHANGEmeFIRST</firstName>
    <callingLineIdLastName>CHANGEmeCLAST</callingLineIdLastName>
    <callingLineIdFirstName>CHANGEmeCFIRST</callingLineIdFirstName>
    <password>CHANGEmeWPASS</password>
    <language>Russian</language>
    <timeZone>Europe/Moscow</timeZone>
    <address/>
  </command>
