<command xsi:type="UserCallForwardingNotReachableModifyRequest" xmlns="">
    <userId>CHANGEmeID</userId>
    <isActive>true</isActive>
    <forwardToPhoneNumber>CHANGEmeNUMBER</forwardToPhoneNumber>
</command>
