    <command xsi:type="UserGetListInGroupRequest" xmlns="">
    <serviceProviderId>CHANGEmeENT</serviceProviderId>
    <GroupId>CHANGEmeGR</GroupId>
    <responseSizeLimit>9999</responseSizeLimit>
    </command>
