<command xsi:type="UserSharedCallAppearanceAddEndpointRequest14sp2" xmlns="">
    <userId>CHANGEmeID</userId>
    <accessDeviceEndpoint>
        <accessDevice>
        <deviceLevel>CHANGEmeDEVL</deviceLevel>
        <deviceName>CHANGEmeDEVP</deviceName>
    </accessDevice>
    <linePort>CHANGEme5PORT@CHANGEmeDMN</linePort>
    </accessDeviceEndpoint>
    <isActive>true</isActive>
    <allowOrigination>true</allowOrigination>
    <allowTermination>true</allowTermination>
</command>