    <command xsi:type="UserSharedCallAppearanceModifyRequest" xmlns="">
    <userId>CHANGEmeID</userId>
    <alertAllAppearancesForClickToDialCalls>false</alertAllAppearancesForClickToDialCalls>
    <alertAllAppearancesForGroupPagingCalls>false</alertAllAppearancesForGroupPagingCalls>
    <allowSCACallRetrieve>true</allowSCACallRetrieve>
    <multipleCallArrangementIsActive>true</multipleCallArrangementIsActive>
    <allowBridgingBetweenLocations>false</allowBridgingBetweenLocations>
    <bridgeWarningTone>None</bridgeWarningTone>
    <enableCallParkNotification>true</enableCallParkNotification>
    </command>
