<command xsi:type="UserServiceAssignListRequest" xmlns="">
    <userId>CHANGEmeID</userId>
    <serviceName>Authentication</serviceName>
    <serviceName>Basic Call Logs</serviceName>
    <serviceName>Call Forwarding Always</serviceName>
    <serviceName>Call Forwarding Busy</serviceName>
    <serviceName>Call Forwarding No Answer</serviceName>
    <serviceName>Call Forwarding Not Reachable</serviceName>
    <serviceName>Call Forwarding Selective</serviceName>
    <serviceName>Calling Name Delivery</serviceName>
    <serviceName>Calling Number Delivery</serviceName>
    <serviceName>Call Transfer</serviceName>
    <serviceName>Call Waiting</serviceName>
    <serviceName>Connected Line Identification Presentation</serviceName>
    <serviceName>Do Not Disturb</serviceName>
    <serviceName>Multiple Call Arrangement</serviceName>
    <serviceName>Selective Call Acceptance</serviceName>
    <serviceName>Selective Call Rejection</serviceName>
    <serviceName>Shared Call Appearance 5</serviceName>
    <serviceName>Three-Way Call</serviceName>
</command>