  <command xsi:type="UserAuthenticationModifyRequest" xmlns="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <userId>CHANGEmeID</userId>
    <newPassword>CHANGEmePASS</newPassword>
  </command>
